.toggle-button{
	display: flex;
	flex-direction: column;
	justify-content:space-around ;
	height: 24px;
	width: 30px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	box-sizing: border-box;

}

.toggle-button:focus{
	outline: none;
}

.toogle-button__line{
	width: 30px;
	height:2 px;
	background: white;
	box-shadow: 0 0 1.5px 1.5px white;
}
@media(max-width: 319px) {
	.toggle-button {
		display: none;
	}
}
@media(min-width: 767px) {
	.toggle-button {
		display: none;
	}
}